/* context menu [prime-react] */
.profile-context-menu {
  padding: 1rem 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0;
  .p-menuitem-link {
    font-size: 1.3rem;
    padding: 1rem 1.25rem;
  }

  .p-menuitem-text {
    font-weight: 600;
  }
}
