{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-double"],
    "semi": ["warn", "always"],
    "indent": "off",
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0
  }
}
